<footer class="footer">

  <div class="footer-container">

    <div class="footer-brand">

      <strong>JD</strong>

      <p>
        Software Developer · Product Engineer
      </p>

    </div>


    <div class="footer-links">

      <a
        href="https://github.com/DigoroJ"
        target="_blank">
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/joseph-digoro-b15913a3/"
        target="_blank">
        LinkedIn
      </a>

      <a
        href="mailto:digorojoseph@gmail.com">
        Email
      </a>

    </div>

  </div>


  <div class="copyright">

    © {{ date }} Joseph Moeletsi Digoro.
    All rights reserved.

  </div>

</footer>