

<body>
  <!-- <app-nav></app-nav> -->
    <div class="container">
      <h1>About me</h1>
      <div class="row">
        <div class="col-sm-3">
          <img class="pic" src="../../assets/JD-removebg-preview.png" alt="my pic">
        </div>
        <div class="col-sm-9">
          <p>
            I'm a Software Developer and Product Engineer with 4+ years of experience building web applications.
            
            My primary area of expertise is frontend development using Angular and TypeScript, with professional experience working in an enterprise banking environment.

            I also have full-stack development experience with Node.js, Express.js, REST APIs, PostgreSQL and MongoDB.

            I'm particularly interested in software architecture, scalable applications, system design and continuously improving my engineering skills

          </p>

        </div>
      </div> <hr>

      <h1>Skills</h1>
      <!-- <app-skills></app-skills> -->

      <div class="row">
        <div class="col-sm">
          <img src="../../assets/html.png" alt="">
          <h5>HTML</h5>

        </div>
        <div class="col-sm">
          <img src="../../assets/javascript.png" alt="">
          <h5>JavaScript</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/angular.png" alt="">
          <h5>Angular2+</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/c++.png" alt="">
          <h5>C++</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/css.png" alt="">
          <h5>CSS</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/postgres.png" alt="">
          <h5>PostgreSQL</h5>
        </div>
      </div>
      <br> <br>

      <div class="row">
        <div class="col-sm">
          <img src="../../assets/node.png" alt="">
          <h5>NodeJS</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/git.png" alt="">
          <h5>Git</h5>

        </div>

        <div class="col-sm">
          <img src="../../assets/ionic.png" alt="">
          <h5>Ionic</h5>
        </div>
      
        <div class="col-sm">
        <img src="../../assets/bootstrap.png" alt="">
        <h5>Bootstrap</h5>
      </div>

        <div class="col-sm">
          <img src="../../assets/cisco.png" alt="">
          <h5>Network +</h5>
        </div>

      </div>

      <hr>



      <h1>Education & Certifications</h1>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Tshwane University of Technology</h4>
          </div>

          <div class="col-sm-8">
            <h5>Adavanced Diploma in Computer Sciences</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2024 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
            <p>
              - Data Structures and Algorithms using Java <br>
              - Principles of Design and how humans interact with systems <br>
              - Introduction to Data Sciences <br>
              - Software Engineering <br>
              - Service-Oriented Programming <br>
              - Thoretical Computer Sciences <br>
              - Distributed Programming 
            </p>

            <br> 

            <h5>National Diploma in Software Development</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2018 - Aug 2021</h6>
            <p>
              - C++ Object Oriented Programming <br>
              - System Analysis and Design <br>
              - Oracle SQL and PL/SQL <br>
              - Cisco Network+ <br>
              - CompTia A+ <br>
              - UML Diagrams <br>
              - Project Management <br>
              - Information Systems <br>
              - Database Design, Implementation and Design
            </p>
          </div>
        </div>

        <br> <br>

      <div class="row">  
        <div class="col-sm-4">
          <h4>Cisco</h4>
        </div>

        <div class="col-sm-8">
          <h5>Introduction to Networking</h5> 
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2021 </h6>
          <p>
            - Troubleshoot connectivity in a small Network <br>
            - Configure switches and end devices to provide access to local and remote network resources <br>
            - Explain how physical and datalink layer protocols support the operation of Ethernet in switched network <br>
          </p>
        </div>
      </div>

      <br> <br>

      <div class="row">  
        <div class="col-sm-4">
          <h4>Udemy</h4>
        </div>

        <div class="col-sm-8">
          <h5>The Complete Java Developer Course</h5> 
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2021 </h6>
          <p>
            - How to develop powerful Java application using IntelliJ IDEA. <br>
            - Complete chapters of Object Oriented Programming and many aspects of Java API. <br>
          </p> <br>

          <h5>Complete Introduction to Business Data Analysis</h5> 
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2022 </h6>
          <p>
            - Learn 8 different techniques for Data Analysis that can easily be implemented in Excel (2003 - Office 365) <br>
            - Learn best practices for Data Analysis and Data Presentation <br>
            - Learn best practices for the design and setup of interactive dashboards <br>
          </p> <br>

          <h5>Build Responsive Reak-World Websites with HTML and CSS</h5> 
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2022 </h6>
          <p>
            - Modern, sematic and accessible HTML5 <br>
            - Modern CSS (CSS3) including flexbox and CSS Grid for layout <br>
            - How to plan, sketch, design, build, test and optimize a profesional website<br>
          </p>

          
        </div>
      </div>
      <hr>

      <h1>Work Experience</h1>
      

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>ABSA Group Limited</h4>
          </div>

          <div class="col-sm-8">
            <h5>Product Engineer</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2022 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
            <p>
              -	Develop and maintain Angular-based enterprise web applications within a large-scale banking environment <br>
              -	Build and enhance frontend functionality using Angular, TypeScript, HTML and CSS <br>
              -	Contribute to the delivery and maintenance of user-facing application features across business-critical workflows <br>
              -	Investigate and resolve frontend issues, defects and application problems <br>
              -	Improve application usability, responsiveness and overall frontend quality <br>
              -	Work collaboratively with developers, product stakeholders and other technology teams within Agile delivery processes <br>
              -	Use Git for version control and collaborative software development <br>
              -	Manage development tasks, defects and delivery activities through Jira

            </p>
          </div>
        </div>
        <br> <br>
        <div class="row">
          <div class="col-sm-4">
            <h4>The Digital Academy</h4>
          </div>

          <div class="col-sm-8">
            <h5>Full-Stack Developer</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2021 - Nov 2022</h6>
            <p>
              - Developed responsive frontend applications using Angular, Ionic, HTML, CSS and TypeScript <br>
              - Developed backend services and REST APIs using Node.js, Express.js and JavaScript <br>
              - Tested and validated APIs using Postman and Thunder Client <br>
              - Designed and maintained relational databases using PostgreSQL and pgAdmin <br>
              - Worked with MongoDB using Mongoose for data persistence <br>
              - wireframes and interface designs using Figma <br>
              - Produced UML diagrams using Draw.io to support system analysis, design and documentation. <br>
              - development tasks using Trello and GitLab Issues <br>
              - Used GitLab and GitHub for source control and team collaboration <br>
              - Participated in Agile ceremonies, including daily stand-ups and sprint activities <br>
            </p>
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h4>JAM Clothing</h4>
          </div>

          <div class="col-sm-8">
            <h5>Stockroom Merchandiser</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2016 - Jan 2018</h6>
            <p>
              - Recieving stock and transfering stock to and from head office and other stores<br>
              - Packing stork in the warehouse in an accessible way <br>
              - Capturing stock in the system <br>
              - Doing stock takes
            </p>
          <br>
            <h5>Store Assistant</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2014 - Apr 2016</h6>
            <p>
              - Cashier <br>
              - Packing stock <br>
              - Perfroming customer service <br>
              - Merchandising clothes on the floor <br>
              - Cleaning the shop <br>
              - Doing stock takes
            </p>
          </div>
        </div>
      </div>

      
      
    
      </div>
    </div>
 
    <hr>
    
  <br>
  
    
</body>
  
<!-- <app-footer></app-footer> -->
    