<section class="portfolio-page">

  <div class="page-header">

    <p>MASTER H PORTFOLIO</p>

    <h1>
      Selected <em>Work</em>
    </h1>

    <span>
      A collection of moments, people and stories.
    </span>

  </div>


  <div class="filters">

    <button class="active">ALL</button>
    <button>WEDDINGS</button>
    <button>EVENTS</button>
    <button>PORTRAITS</button>
    <button>BRANDS</button>
    <button>VIDEO</button>

  </div>


  <div class="gallery">

    <div class="gallery-item tall">
      <img src="assets/images/gallery-1.jpg">
    </div>

    <div class="gallery-item">
      <img src="assets/images/gallery-2.jpg">
    </div>

    <div class="gallery-item">
      <img src="assets/images/gallery-3.jpg">
    </div>

    <div class="gallery-item wide">
      <img src="assets/images/gallery-4.jpg">
    </div>

    <div class="gallery-item">
      <img src="assets/images/gallery-5.jpg">
    </div>

    <div class="gallery-item tall">
      <img src="assets/images/gallery-6.jpg">
    </div>

  </div>

</section>